{% extends 'lita-forum-2017/base.html' %}

{% block main %}
<br>
 <div class="container">
     <h2>
         LITA Forum -  November 2017
     </h2>
     <h1 class="display-3">
         Launching your own Linked Data Application
     </h1>
     <p class="lead">
        Using the open-source library linked-data <a href="http://bibcat.org/">BIBCAT</a> 
        platform, this introductory program provides participants with the knowledge to 
        start planning and building their own lightweight RDF-based applications with 
        vocabularies like BIBFRAME and Schema.org. 
    </p>
    <p class="lead">
        BIBCAT, an open-source middleware for constructing RDF applications, is currently 
        used in a number of projects including a consortium linked-data MARC-to-BIBFRAME 
        publishing effort, a regional DP.LA hub for Colorado and Wyoming, and as the backbone 
        for a new Academic Concierge mobile app for higher education students at midsize 
        public university. 
    </p>
    <div class="row">
        <section class="col">
            <div class="card">
                <div class="card-header">
                    <h3>Topics</h3></div>
                <div class="card-body">
                </div>
            </div>
        </section>
        <section class="col">
             <div class="card">
                <div class="card-header">
                    <h3>Exercises</h3>
                </div>
                <div class="card-body">
                </div>
             </div>
        </section>
        <section class="col">
             <div class="card">
                <div class="card-header">
                    <h3>Resources</h3>
                </div>
                <div class="card-body">
                </div>
             </div>
 
        </section>
    </div>
</div>
{% endblock %}
